#skills{
    overflow:hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0 auto;
}
.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
}
.skillDesc{
    font-weight: 400;
    font-size: 1rem;
    max-width: 40rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
}
.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
}
.skillBar{
    margin: 1rem;
    display: flex;
    border-radius: 0.5rem;
    background: rgb(50,50,50);
    padding: 0.5rem 1rem;
}
.skillBarImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}
.skillBarText{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and(max-width:480px){
    .skillBarImg{
        height: 2.25rem;
        width: 2.25rem;

    }
    .skillBarText{
        font-size: 5vw;
    }
}